<!--The whole content below can be removed with the new code.-->
<div >
  <h3>
    Bienvenido a {{title}}!!
  </h3>
<br />
<hr>
<nav>
<a [routerLink]="['/pagina-principal']" [routerLinkActive]="['activado']">
  HOME
</a>
|
<a [routerLink]="['/fruta']" [routerLinkActive]="['activado']">
  FRUTAS
</a>
|
<a [routerLink]="['/empleado']" [routerLinkActive]="['activado']">
  EMPLEADO
</a>
|
<a [routerLink]="['/contacto']" [routerLinkActive]="['activado']">
  CONTACTO
</a>
|
<a [routerLink]="['/coches']" [routerLinkActive]="['activado']">
  COCHES
</a>
|
<a [routerLink]="['/plantillas']" [routerLinkActive]="['activado']">
  PLANTILLAS
</a>
</nav>
<hr />
<!-- <fruta></fruta> -->
<!-- <empleado></empleado> -->

<router-outlet></router-outlet>
